.root{
    -fx-background-image: url(../images/summer.jpg);
    background-image: url(../images/summer.jpg);
    -fx-background-size: cover;
    background-size:cover;
    background-position: left top;
    background-repeat: no-repeat;
    -fx-font-family: "Avenir";
    -fx-background-color: transparent;
    background-color: transparent;
}

.background {
    -fx-background-color: #000000;
    background-color: #000000;
}

.label {
    -fx-font-size: 8pt;
    -fx-text-fill: white;
    -fx-letter-spacing: 4px;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
}

.tab-pane {
    -fx-padding: 0 0 0 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-background-color: transparent;
    background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: transparent;
    background-color: transparent;
}

.split-pane {
    -fx-background-color: transparent;
    background-color: transparent;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
    background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 20px 5px;
}

.list-cell:filled:even {
    -fx-background-color: rgba(255,255,255,0.8);
}

.list-cell:filled:odd {
    -fx-background-color: rgba(255,255,255,0.6);
}

.list-cell:filled:selected {
    -fx-background-color: rgba(140,140,140,0.4);
}

.list-cell:filled:selected #cardPane {
}

.list-cell .label {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: #777;
}
.list-cell:filled:selected .label {
    -fx-text-fill: #FFF;
}

.cell_big_label {
    -fx-font-size: 24px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.anchor-pane {
    -fx-background-color: transparent;
    background-color: transparent;
}

.pane-with-border {
    -fx-background-color: transparent;
    background-color: transparent;
}

.status-bar {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: transparent !important;
    background-color: transparent !important;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: white;
}

.status-bar .label {
    -fx-text-fill: white;
}

.status-bar-with-border {
    -fx-background-color: transparent;
    background-color: transparent;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-font-size: 8pt;
    -fx-text-fill: white;
}

.grid-pane .anchor-pane {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-font-size: 8pt;
    -fx-text-fill: white;
}

.context-menu {
    -fx-padding: 5px 20px;
    -fx-background-color: rgba(255,255,255,0.25);
}

.context-menu .label {
    -fx-text-fill: #000;
}

.menu-bar {
    -fx-background-color: transparent;
    background-color: transparent;
}

.menu-bar .label {
    -fx-padding: 2px 10px;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: transparent;
    background-color: transparent;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: transparent;
    background-color: transparent;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: transparent;
    background-color: transparent;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: transparent;
    background-color: transparent;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: rgba(255,255,255,0.2);
}

.scroll-bar .thumb {
    -fx-background-color: rgba(255,255,255,0.4);
    -fx-background-insets: 5;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 50px;
    -fx-border-width: 1px;
    -fx-border-color: #FFF;
    -fx-font-family: "Avenir";
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

.text-area {
    -fx-background-color: rgba(255, 255, 255,0.4);
    -fx-alignment: center-right;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

#resultDisplay .content {
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-padding: 5px 0;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 2px 5px;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#tags .labelColleagues {
    -fx-background-color: salmon !important;
}

#tags .labelFriends {
    -fx-background-color: #45ADA8 !important;
}
