
.error {
    -fx-text-fill: #ff6961 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background-color: transparent;
    background-color: transparent;
}

.tag-selector {
}

.tooltip-text {
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab {
}

.tab-pane .tab {
    -fx-background-color: rgba(255, 255, 255, 0.4);

}

.tab-pane .tab:selected {
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #fff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #444;
}

.anchor {
    -fx-border-color: #AAA;
    -fx-border-width: 0.5;
    -fx-text-fill: white;
}
